@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --blue: #34ace0;
    --blue-dark: #227093;
    --purple: #474787;
    --purple-dark: #2c2c54;
    --offwhite: #ddd;
}

body {
    background: #323232;
    color: white;
    font: 400 16px system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0;
}

.content {
    max-width: 780px;
    margin: auto;
    padding: 32px 16px 0;
}

header {
    background: var(--purple);
    padding: 32px 0 16px;
}

nav {
    font-style: italic;
    background: var(--purple-dark);
    color: var(--offwhite);
    padding-bottom: 16px;
}

nav .content {
    padding-top: 16px;
}

a, em {
    color: var(--blue);
    transition: 0.15s ease;
}

a:hover {
    color: var(--blue-dark);
    transition: 0.3s ease;
}

em {
    font-style: normal;
}

h1, h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    margin: 0;
}

#dice {
    border-radius: 4px;
    background: #3c3c3c;
    padding: 16px;
}

menu {
    display: flex;
    gap: 8px;
}

button {
    background: var(--purple);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s ease;
}

button:hover {
    background: var(--purple-dark);
    transition: 0.3s ease;
}

article, button, input {
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
}

article {
    background: #222;
    margin-bottom: 24px;
}
.control-row-title,
.article-header {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.control-row {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
}

.control-row .controls {
    opacity: 0.25;
    transition: 0.15s ease;
    min-width: max-content;
}

.control-row:focus-within .controls,
.control-row:hover .controls {
    opacity: 1;
    transition: 0.3s ease;
}

.article-header,
ul {
    padding-left: 16px;
}


ul ul {
    padding-left: 24px;
}

li {
    margin: 16px 0;
}

i {
    color: var(--offwhite);
}