@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --blue: #34ace0;
    --blue-dark: #227093;
    --grey: #3c3c3c;
    --grey-dark: #222;
    --grey-light: #d3d3d3;
    --purple: #474787;
    --purple-dark: #2c2c54;
}

body {
    background: #323232;
    color: white;
    font: 400 16px system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0;
}

.content {
    max-width: 780px;
    margin: auto;
    padding: 32px 16px 0;
}

header {
    background: var(--purple);
    padding: 32px 0 16px;
}

nav {
    font-style: italic;
    background: var(--purple-dark);
    color: var(--grey-light);
    padding-bottom: 16px;
}

nav .content {
    padding-top: 16px;
}

menu, .menu-buttons {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

@media (max-width: 600px) {
    menu {
        display: inline-block;
    }

    menu input {
       width: 100%;
       margin-bottom: 8px;
    }
}

a, em, .xp {
    color: var(--blue);
    transition: 0.15s ease;
}

a:hover {
    color: var(--blue-dark);
    transition: 0.3s ease;
}

em {
    font-style: normal;
}

h1, h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    margin: 0;
}

#import {
    display: none;
}

#dice {
    border-radius: 4px;
    background: var(--grey);
    padding: 16px;
}

button {
    background: var(--purple);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s ease;
}

button:hover {
    background: var(--purple-dark);
    transition: 0.3s ease;
}

button, input {
    padding: 8px 16px;
}

article, button, input {
    border: 0;
    border-radius: 4px;
}

article {
    background: var(--grey-dark);
    margin-bottom: 24px;
    padding: 16px 16px 4px;
    position: relative;
}

.control-row-title,
.article-header {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.control-row {
    display: flex;
    flex: 1;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
}
.control-row .xp {
    font-weight: bold;
    font-size: 18px;
}

.control-row .controls {
    opacity: 0.25;
    transition: 0.15s ease;
    min-width: max-content;
}

.control-row:focus-within .controls,
.control-row:hover .controls {
    opacity: 1;
    transition: 0.3s ease;
}

ul {
    padding-left: 0;
}

li {
    margin-top: 16px;
}

ul ul {
    border-left: var(--grey) dotted 2px;
    margin-left: 16px;
    padding-left: 16px;
    position: relative;
    overflow-y: clip;
}

ul ul li::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 10px;
    margin-top: 16px;
    margin-left: -18px;
    border-top: var(--grey) dotted 2px;
}

ul ul li:last-of-type:before {
    border-left: solid var(--grey-dark) 2px;
    height: 100%;
}

i, .dicerolls {
    color: var(--grey-light);
}